
body{
    
    color: #1188D3;
    margin-top: 80px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
    
}
.hero{
    background: url("./giphy.gif");
    padding:20px;
    background-size: cover;
    height: 700px;
}
.btn{
    border: none;
    background-color: #F67315;
    padding: 5px 10px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin-top: 50px;
}
.spn{
    border-bottom: 3px solid  #F67315 ;
}
#logo{
    width: 50px;
    margin-top: 30px;
}
h1{
    font-size: 50px;
    text-shadow: 0px 1px 2px white;
}